venv/
.venv/
__pycache__/
*.pyc
.DS_Store
*.egg-info
poetry.lock
.env
my_furhat_backend/__pycache__
# .envrc
my_furhat_backend/ggufs_models
my_furhat_backend/ingestion
my_furhat_backend/db
Furhat_W25.pem
furhat_skills/Conversation/src/main/kotlin/furhatos/app/templateadvancedskill/parms.kt